export default function StatusIndicator ({ target }) {
  return html`
    <p>Status: <span id='status' _='
      on htmx:wsConnecting from ${target}
        put "Connecting…" into me
        remove .online from me
        remove .offline from me
      end

      on htmx:wsOpen from ${target}
        put "Online" into me
        add .online to me
        remove .offline from me
      end

      on htmx:wsClose from ${target}
        put "Offline" into me
        add .offline to me
        remove .online from me
      end
    '>Initialising…</span></p>

    <style>
      .online {color: green}
      .offline {color: red}
    </style>
  `
}
